*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background-color: rgb(238, 237, 233);
}
#header,#main{
    margin-bottom: 100px;
    border: 0px;
    padding: 0%;
    background-color: rgb(142, 78, 79);
    padding: 50px 50px;
}
#header .logo{
    text-align: start;
    text-justify: auto;
}
#header .logo p a img{
    width: 200px;
    height: 200px;
    position: sticky;
    top: 0;
    z-index: 999;

}
#header .menu ul li{
    list-style: none;
    text-align: end;

}

#header .logo p a img:hover {
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
    rotate: 180;
    width: 100px; height: 100px;
    background-color: rgba(255,0,0,0.9);
    border: solid 1px;

}
#header .menu ul li a{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    text-decoration: none;
    color: rgb(238, 237, 233);
    margin: 10px;   
    display: inline;
}
#header .menu ul li a:hover {
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    text-decoration: none;
    color: rgb(153, 127, 22);
    margin: 10px;
    
}
#main .tit-principal, .main-text{
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(238, 237, 233);
}
#main .nombre{
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(238, 237, 233);
    text-align: center;
}
#main .correo{
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(238, 237, 233);
    text-align: center;
}
#main .card{
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(238, 237, 233);
    text-align: center;
}


#us{
    background-color: rgb(238, 237, 233);
}
#us .la-empresa{
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(142, 78, 79);
}

#us .video{ 
    padding-left: 500px;
}
#us .gif .velas{
    padding-left: 40%;
    width: 200px;
    height: auto;
}
#contacto{
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(172, 119, 115); 
    text-align: end;
    background-color: rgb(238, 237, 233);

}
#footer{
    background-color: rgb(94, 94, 94);
    padding: 0vh;
    margin: 0vh;
    text-align: center;
    position: relative;
    bottom: 0px;
   
}
#imagenes img{
    width: 300px;
    height: 300px;
    position: relative;
    left: 30%;
    margin: 0 10px;
}
#imagenes .text-junto{
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(172, 119, 115); 
    text-align: end;
    background-color: rgb(238, 237, 233);
    margin: 30px;
    text-align: left;
    position: relative;
    z-index: 20;
}